{% extends "layout.html" %}

{% block page_class %}intro-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/intro.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/intro.js') }}"></script>
{% endblock %}

{% block content %}
<div class="intro-wrapper" onclick="goToNowPage()">
    <!-- 검은색 배경 -->
    <div class="black-background"></div>
    
    <!-- 중앙 배치된 background.gif -->
    <img src="{{ url_for('static', filename='images/intro/background.gif') }}" class="intro-bg" alt="배경">
</div>
{% endblock %}
